.card {
  background-color: #242426;
  border-radius: 22px;
  margin-bottom: 22px;
  padding: 15px;
}
.refresh {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ffffffc0;
  cursor: pointer;
  transition: all ease 200ms;
}
.refresh:hover {
  color: #fffffffa;
}
.card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.card h2 {
  flex-grow: 1;
  font-size: 1rem;
  margin-bottom: 18px;
  color: #fff;
  font-weight: 600;
}
.card ul {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.card ul > li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  flex-grow: 1;
}
.card ul > li > span {
  color: #ffffff99;
  font-size: 0.6rem;
}
.card ul > li > p {
  font-size: 2.2rem;
}

.red {
  color: red;
}
.yellow {
  color: yellow;
}
@media (max-width: 680px) {
  .card {
    padding: 4px;
  }
}
