.card-modal {
  width: 410px;
  height: 400px;

  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;

  top: 60px;
  right: 100px;
  z-index: 10;
  // border-radius: 15px 0px 15px 15px;
  border-radius: 15px;
  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    justify-content: space-between;
    max-width: 410px;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 6px;
    background-color: #141416;
    h3 {
      display: flex;
      align-items: center;
    }
  }
  .create-btn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    padding-inline: 18px;
    background: linear-gradient(275.81deg, #72deff 18.68%, #ffebe7 100%);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #000;
    border-radius: 20px;
    text-wrap: nowrap;
    i {
      width: 12px;
      height: 12px;
      font-size: 12px;
      display: flex;
      align-items: center;
    }
  }
  .card-news {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    .news-img {
      width: 160px;
      height: 150px;
      object-fit: cover;
    }
  }
  .notifications-list {
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 70px;
    margin-bottom: 14px;
    width: 100%;

    .notification-item {
      padding: 10px 18px;
      display: flex;
      flex-direction: column;
      gap: 14px;
      background-color: #1a1a1b;
      .notification-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .time {
        color: #535354;
        font-size: 0.7rem;
        font-weight: bolder;
      }
      .type {
        color: #767676;
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 4px;
      }
      .message {
        letter-spacing: 0.5px;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .notification-item:first-child {
      border-radius: 22px 22px 0px 0px;
    }
    .notification-item:last-child {
      border-radius: 0px 0px 22px 22px;
    }
  }
  .news-img-container {
    height: 250px;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .janction-tooltip {
    max-width: 295px;
    padding-bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 8px;

    :global {
      font-size: 12px;

      .ant-tooltip-content {
        .ant-tooltip-arrow {
          display: none;
        }

        .ant-tooltip-inner {
          border-radius: 8px;
          background-color: #000000;
          padding: 8px 16px;
          font-family: 'SF Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
  :global {
    .ant-modal-content {
      border-radius: 22px 0px 22px 22px;
      padding: 4px;
      padding-bottom: 14px;
      padding-block: 0px;

      position: relative;
      background-color: #141416;
      .ant-modal-body {
        border-radius: 15px;
        padding: 14px;
        padding-block: 0px;
        height: 100%;
      }
    }
    .ant-modal-footer {
      display: none !important;
    }
  }
}
@media (max-width: 680px) {
  .card-modal {
    left: 10px;

    transform: translateX(0%);
    .card-header {
      width: 100%;
      position: relative;
    }
    .card-news {
      height: auto;
    }
    .notifications-list {
      margin-top: 4px;
    }
  }
}
