.card-modal {
  padding: 18px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  border-radius: 15px;

  :global {
    .ant-modal-content {
      // border-image: linear-gradient(115deg, #cccccc9a 35%, #373738 85%);
      border: 1px solid #cccccc5b;
      padding: 6px;
      box-shadow: 0px 01px 3px 0px #cccccc0f;
      background-image: linear-gradient(15deg, #242426 35%, #2e3134 85%);
      border-radius: 15px !important;
      background-color: #242426;

      .ant-modal-body {
        border-radius: 15px;
        padding: 18px;
      }
    }

    .ant-modal-footer {
      display: none !important;
    }
  }
}

.create-btn {
  height: 45px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 32px;
  background: linear-gradient(275.81deg, #72deff 18.68%, #ffebe7 100%);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #000;
  border-radius: 20px;
  text-wrap: nowrap;
}

.pre {
  :global {
    .ant-btn {
      background: #4d4d4e;
      border-radius: 51px;
      padding: 4px 32px;
      height: 45px;

      span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  margin-bottom: 12px;
}

.header-card {
  display: flex;
  gap: 12px;
  padding: 10px 22px;
  margin-bottom: 28px;
  border-radius: 10px;
  background: #38535d;
  color: #fff;
  align-items: center;
  font-size: 1.05rem;

  i {
    font-size: 1.05rem;
    color: #73d5f4;
  }
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  text-align: left;
  padding: 14px 0px;
  padding-top: 2px;
}

.card-header > i {
  font-size: 22px;
  margin-bottom: 4px;
}

.card-header > h3 {
  position: relative;
  padding-left: 12px;
  margin-bottom: 6px;
  font-size: 0.8rem;
}

.card-header > h3::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  border-radius: 5px;
  background-color: #73d5f4;
}

.blue {
  color: #47c2e8;
}

.stake-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 12px;

  div {
    display: flex;
    gap: 8px;
    align-items: center;

    .info-label {
      width: 120px;
      color: #777778;
    }

    .stake-check {
      font-size: 0.8rem !important;
      display: flex;
      width: 100%;
    }
  }
}

.stake-info-price {
  font-size: 1.2rem;
  color: red;
}

.stake-info-price--blue {
  font-size: 1.2rem;
  color: #73d5f4;
}
