.card {
  background-color: #242426;
  border-radius: 22px;
  margin-bottom: 22px;
  padding: 15px;
}

.refresh {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ffffffc0;
  cursor: pointer;
  transition: all ease 200ms;
}

.refresh:hover {
  color: #fffffffa;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.card h2 {
  flex-grow: 1;
  font-size: 1rem;
  margin-bottom: 18px;
  color: #fff;
  font-weight: 600;
}

.card ul {
  display: flex;
  justify-content: start;
}

.card ul > li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  flex-grow: 1;
}

.card ul > li > span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);
}

.card ul > li > p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  font-size: 2.2rem;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.9);

  span {
    display: inline-block;
    margin-left: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.25);
  }
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
@media (max-width: 540px) {
  .card ul {
    flex-direction: column;
    gap: 24px;
  }
}
